*
!*.ts
!*.test.ts
.vscode/
.idea/
.DS_Store
Thumbs.db
node_modules/
.yarn/
.yarnrc.yml
yarn.lock
*.log
coverage/
*.js
*.js.map
*.d.ts
.exercism/
*.pnp.*
babel.config.cjs
eslint.config.mjs
jest.config.cjs
HELP.md
test-runner.mjs
package.json
tsconfig.json
README.md
